*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header{
    background-color: lightblue;
    height: 80px;
    padding-left: 100px;
    padding-right: 100px;
    padding-top: 15px;
    padding-bottom: 15px;
}

.container-flex{
    display: flex;
    background-color: goldenrod;
    justify-content: space-between;
    align-items: center;
    height: 100%;
}

.logo{
    padding-left: 5px;
    display: flex;
    flex-grow: 0.15;
    border: 2px dotted black;
    height: 100%;
    align-items: center;

}

.link{
    border: 2px dotted black;
    height: 100%;
    display: flex;
    align-items: center;
    flex-grow: 0.7;
    justify-content: center;
}

.link a{
    text-decoration: none;
    color: black;
    margin: 5px;
}

.login{
    padding-right: 5px;
    display: flex;
    flex-grow: 0.15;
    border: 2px dotted black;
    height: 100%;
    align-items: center;
    justify-content: flex-end;
}